	/*
  	Flaticon icon font: Flaticon
  	Creation date: 18/12/2016 06:25
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
  margin-left: 0px;
}

.flaticon-add-circular-outlined-button:before { content: "\f100"; }
.flaticon-arrow-ascendant-point:before { content: "\f101"; }
.flaticon-big-building:before { content: "\f102"; }
.flaticon-bolts:before { content: "\f103"; }
.flaticon-commenting:before { content: "\f104"; }
.flaticon-cup-of-tea:before { content: "\f105"; }
.flaticon-customer:before { content: "\f106"; }
.flaticon-customer-service:before { content: "\f107"; }
.flaticon-drill-making-hole:before { content: "\f108"; }
.flaticon-email:before { content: "\f109"; }
.flaticon-engineer:before { content: "\f10a"; }
.flaticon-favorite:before { content: "\f10b"; }
.flaticon-floor:before { content: "\f10c"; }
.flaticon-funds:before { content: "\f10d"; }
.flaticon-group-of-users-silhouette:before { content: "\f10e"; }
.flaticon-home-interior-symbol-of-a-single-sofa-in-a-house-outline:before { content: "\f10f"; }
.flaticon-house-with-dollar-sign:before { content: "\f110"; }
.flaticon-idea:before { content: "\f111"; }
.flaticon-installation-symbol:before { content: "\f112"; }
.flaticon-locked:before { content: "\f113"; }
.flaticon-low-cost:before { content: "\f114"; }
.flaticon-management:before { content: "\f115"; }
.flaticon-next:before { content: "\f116"; }
.flaticon-online-pay:before { content: "\f117"; }
.flaticon-phone-call:before { content: "\f118"; }
.flaticon-placeholder:before { content: "\f119"; }
.flaticon-play-button:before { content: "\f11a"; }
.flaticon-plumbing:before { content: "\f11b"; }
.flaticon-process:before { content: "\f11c"; }
.flaticon-professional-presenting-a-report:before { content: "\f11d"; }
.flaticon-quality:before { content: "\f11e"; }
.flaticon-remodel:before { content: "\f11f"; }
.flaticon-right-arrow:before { content: "\f120"; }
.flaticon-settings-tools:before { content: "\f121"; }
.flaticon-share:before { content: "\f122"; }
.flaticon-skills:before { content: "\f123"; }
.flaticon-skyline:before { content: "\f124"; }
.flaticon-small-house:before { content: "\f125"; }
.flaticon-trophy:before { content: "\f126"; }
.flaticon-vibration-game-control-black-tool-shape:before { content: "\f127"; }
.flaticon-wall:before { content: "\f128"; }